                <h3 style="display:inline;">返回码:</h3> <select onchange="switchHttpStatus(this)">
                                {% for l in info %}
                                    {% ifequal forloop.counter 1%}
                                    <option selected>{{ l.code }}</option>
                                    {% else %}
                                    <option>{{ l.code }}</option>
                                    {% endifequal %}
                                {% endfor %}
                </select>

                {% for l in info%}
                        {% ifequal forloop.counter 1%}
                             <div id="http_table_{{ l.code }}" class="http_code_div">
                        {% else %}
                            <div id="http_table_{{ l.code }}" class="http_code_div" style="display:none;">
                        {% endifequal %}
                        <h3 style="display:inline;"> 请求数:</h3> <span>{{ l.count }}</span>

                        <table style="width:600px;TABLE-LAYOUT:fixed;WORD-BREAK:break-all;" class="table table-hover table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th style="width:450px;">Url</th>
								  <th>请求数/访问数</th>
							  </tr>
						  </thead>
						  <tbody>
                          {% for i in l.item %}
							<tr>
								<td class="center">{{ i.url }}</td>
                                <td class="center">{{ i.count }}</td>
							</tr>
                          {% endfor %}
						  </tbody>
					  </table>
                      </div>
                {% endfor %}